<div>
  <section class="flex-column">
    <div class="flex-row">
      <button type="button" *ngIf="maxItems !== 1" (click)="clickAddFile()">
        add file
      </button>
      <button type="button" (click)="clickUpload()">upload file</button>
    </div>
    <div *ngFor="let form of filesFormArray.controls">
      <div class="flex-row">
        <input type="file" #fileEl (change)="changeFileValue(fileEl, form)" />
        <button
          type="button"
          *ngIf="filesFormArray.controls.length !== 1"
          (click)="clickRemove(form)"
        >
          remove
        </button>
        <span
          class="error-message"
          *ngIf="form.invalid && form.touched && form.errors?.['required']"
        >
          file is required
        </span>
        <span
          class="error-message"
          *ngIf="form.invalid && form.touched && form.errors?.['limitSize']"
        >
          file size should less than {{ limitSize }} MB
        </span>
      </div>
    </div>
  </section>
</div>
